h1{
  text-align: center;
  background-color: #3c95ee;
  font-family: monospace;
  font-size: smaller;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  margin: 10px auto;
  width: 600px;
}

input{
  text-align: center;
}

::placeholder{
  text-align: center;
}


Table {
  display:block;
  margin-right: auto;
  margin-left: auto;

  width: 550px;
  border-collapse: collapse;
}

th {

  border-bottom: 1px solid black;
  border: 2px solid black;
}

td {
  

  text-align: center;
  border: 2px solid black;
}
.App {
  text-align: center;
  background-color:green;
  }
  
  .label{
  display: block;
  font-weight: 100;
  font-size:large;
  color: white;
  padding: 2px;
  }
  
  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
  }
  .btn{
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
  display: flex;
  justify-content: center;
  }
  
  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }
  
  .success{
  display: block;
  color: black;
  width: fit-content;
  }
.side{
  display: flex;
  flex-direction: row;


}
button{

  display: block;
  margin-right: auto;
  margin-left: auto;
}